@import "tailwindcss";

.transparent-cards{
  @apply shadow-md hover:scale-99 hover:shadow-sm transition-all duration-500 cursor-pointer bg-[#1a4f267c] backdrop-blur-3xl rounded-lg border-1 border-[#ffffff18] text-[#ecececbd]
}